<ng-container *ngIf="{
  activeUser: authService.activeUser$ | async
} as data">
  <button type="button" routerLink="/" routerLinkActive="btb btn-primary" [routerLinkActiveOptions]="{exact: true}">HOME</button> |

  <ng-container *ngIf="data.activeUser else unauthorized">
    <button (click)="authService.logout()" type="button">LOGOUT</button>
  </ng-container>

  <ng-template #unauthorized>
    <button type="button" routerLink="/login" routerLinkActive="btb btn-primary">LOGIN</button> |
    <button type="button" routerLink="/register" routerLinkActive="btb btn-primary">REGISTER</button> |
  </ng-template>
</ng-container>

